<ion-header padding-top>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repository</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab right bottom>
    <button ion-fab (click)="searchRepo()" color="secondary">
        <ion-icon name="search" large> </ion-icon>
    </button>
  </ion-fab>
  <ion-item-group *ngIf="repos">
    <ion-list *ngFor="let repo of repos">
      <ion-card (click)="repoNameTapped(repo.owner.login,repo.name)">
        <ion-item-divider>
          <h2 color="code">
            {{repo.name}}
          </h2>
        </ion-item-divider>
        <ion-card-content>
          <p padding-vertical>
            {{repo.description === null ? "Not Available" : repo.description}}
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col padding-left col-4>Language</ion-col>
          <ion-col col-8 ion-text color="code">{{repo.language}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button icon-left clear color="iconshade">
                  <ion-icon name="eye"></ion-icon>
                  <div style="text-transform:none">{{repo.watchers}} Watchers</div>
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button icon-left clear style="float:right" color="secondarydark">
                  <ion-icon name="open"></ion-icon>
                  <div style="text-transform:none">{{repo.open_issues}} Issues</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </ion-item-group>
</ion-content>