<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repository</ion-title>
    <ion-buttons padding-right end>
      <button ion-button icon-only outline large clear (click)="searchRepo()">
       <ion-icon name="search" large> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group *ngIf="repos">
    <ion-list *ngFor="let repo of repos">
      <ion-card>
        <ion-item-divider (click)="repoNameTapped(repo.owner.login,repo.name)">
          <h2>
            {{repo.name}}
          </h2>
        </ion-item-divider>
        <ion-card-content>
          <p padding-vertical>
            {{repo.description === null ? "Not Available" : repo.description}}
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col padding-left col-4>Language</ion-col>
          <ion-col col-8 ion-text color="code">{{repo.language}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{repo.watchers}} Watchers</div>
              </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear style="float:right">
                <ion-icon name="open"></ion-icon>
                <div>{{repo.open_issues}} Open Issues</div>
              </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </ion-item-group>
</ion-content>