<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item no-lines *ngIf="user" color="secondary" large>
        <div padding-top>
          <ion-avatar padding-top>
            <img src={{user.avatar_url}}>
          </ion-avatar>
        </div>
        <p padding-top>{{user.name}}</p>
        <p>{{user.email}}</p>
      </ion-item>
      <ion-item no-lines class="item-icon-left" menuClose (click)="logOut()" color="secondarydark">
        <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>
        <div color="code" class="buttonNavPadding">LOGOUT</div>
      </ion-item>
      <ion-item no-lines menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon color="code" ios={{p.ios}} md={{p.android}}  item-left></ion-icon>
        <div color="code" class="buttonNavPadding">{{p.title}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>