<ion-menu [content]="content">
  <ion-content>
     <ion-list>
        <ion-item *ngIf="user">
          <p>
            <ion-avatar item-left>
              <img src={{user.avatar_url}}>
            </ion-avatar>
          </p>  
          <p>{{user.name}}</p>
          <p>{{user.email}}</p>
        </ion-item>
        <ion-item >
          <button class="buttonNavPadding" ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
            <ion-icon name={{p.icon}} item-left></ion-icon>
            {{p.title}}
          </button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>