<ion-menu [content]="content">
  <ion-content>
     <ion-list>
        <ion-item *ngIf="user">
          <p>
            <ion-avatar item-left>
              <img src={{user.avatar_url}}>
            </ion-avatar>
          </p>  
          <p>{{user.name}}</p>
          <p>{{user.email}}</p>
        </ion-item>
        <ion-item class="item-icon-left" menu-close ng-click="login()"> 
          <button ion-button icon-left clear outline class="logoutButtonSize" >
            <ion-icon class="iconfrontSize" name="ios-log-out-outline"></ion-icon>LOGOUT
          </button>
        </ion-item>
        <ion-item>
          <button ion-item menuClose icon-left class="buttonNavPadding" *ngFor="let p of pages" (click)="openPage(p)" >
            <ion-icon class="iconLineHeight" name={{p.icon}} ></ion-icon>
            {{p.title}}
          </button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>